body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
}

.divider {
    background-color: rgb(50, 0, 0);
    color: rgb(50, 0, 0);
    border-color: rgb(50, 0, 0);
}

.dividerH {
    background-color: rgb(0, 100, 0);
    color: rgb(0, 100, 0);
    border-color: rgb(0, 100, 0);
}

.header {
    

    align-items: center;
    text-align: center;
    color: lime;

    font-size: 250%;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;

    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.story {
    

    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;    

    text-align: left;
    color: red;

    padding-left: 16%;
    padding-right: 16%;
}
